.box-pagination {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.box-pagination__number-page {
    margin-right: 1vmax;
    font-size: 2vh;
    background-color: #89b9ec;
    padding: 1vh;
    border-radius: 5px;
    border: 2px solid #0b7dda;
}
.box-pagination__number-page:hover {
    box-shadow: inset -3px -3px 3px 3px white,
    -3px -3px 3px 3px  beige;
}
.box-pagination__number-page:active {
    transform: translateY(3px);
    box-shadow: none;
}
.box-pagination__number-page_active {
    background-color: #e0dbdb;
}
@media screen and (max-width: 510px) {
    .box-pagination__number-page {
        padding: 3px;
        border-radius: 5px;
    }
}
@media screen and (max-width: 394px) {
    .box-pagination__number-page {
        padding: 3px;
        border-radius: 5px;
        font-size: 10px;
    }
}